<div>
	<%= form_tag('#', :method => :get) do %>
		読み込むページ数
		<!-- 	REF => http://d.hatena.ne.jp/utadaq/20080506	 -->
		<%= text_field_tag "doc_num", '', :size => '3' %>
		<%= submit_tag "Go" %>
		
		現在のページ数: <%= @current_num %>
		
	<% end %>
	
</div>

<h1>Listing articles</h1>

<% if flash['message'] != nil %>
	<%= flash['message'] %>
<% end %>

<br />

<% if @objects != nil %>
	@objects => <%= @objects.length %>
<% else %>
	@objects => nil
<% end %>

<hr />
<% @objects.each do |item| %>
	<%= link_to item.content, item['href'] %>
	<br />
<% end %>

<!-- @objects[0].class => <%#= @objects[0].class %> -->
<br>
<%#= link_to @objects[0].content, @objects[0]['href'] %>
<hr />
<%= link_to 'New Article', new_article_path %>
