<div>
	<%= form_tag('#', :method => :get) do %>
		読み込むページ数
		<!-- 	REF => http://d.hatena.ne.jp/utadaq/20080506	 -->
		<%= text_field_tag "doc_num", '', :size => '3' %>
		<%= submit_tag "Go" %>
		
		<span style="background-color: blue; color: white">現在のページ数: </span><%= @current_num %>
		<span style="background-color: green; color: white">
			ジャンル：</span>
			<% if @genre == "soci" %>
				Society
			<% elsif @genre == "int" %>
				Overseas
			<% elsif @genre == "bus_all" %>
				Economy
			<% else %>
				Society
			<% end %>

		<span style="background-color: green; color: white">
			記事総数：</span>
			
			<% if @objects != nil %>
				<%= @objects.length %>
			<% else %>
				0
			<% end %>
		
		
	<% end %>
	
</div>


<% if flash['message'] != nil %>
	<%= flash['message'] %>
<% end %>


<hr />
<% @objects.each do |item| %>
	<%= link_to item.content, item['href'], :target => "_blank" %>
	<br />
<% end %>

<!-- @objects[0].class => <%#= @objects[0].class %> -->
<br>
<%#= link_to @objects[0].content, @objects[0]['href'] %>
<hr />
<%= link_to 'New Article', new_article_path %>
