<!DOCTYPE html>
<html>
<head>
  <title>NewsReader3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr />
<%= link_to "Back to articles", articles_path, {:doc_num => session[:doc_num]} %>

</body>
</html>
